@import "@/styles/settings/breakpoint";

.Features-containerList {
    align-self: center;

    margin-block-start: var(--base-size-80);

    @media screen and (max-width: $breakpoint-md) {
        align-self: initial;

        margin-block-start: var(--base-size-36);
    }
}

.Features-list {
    display: flex;

    padding-inline: var(--base-size-40);

    @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;

        padding-inline: 0;
    }
}

.Features-separator {
    margin-block-start: var(--base-size-32);

    border: var(--borderWidth-sm) solid var(--color-zero-light);

    @media screen and (max-width: $breakpoint-md) {
        margin-block-start: 0;
    }
}
