@import "@/styles/settings/breakpoint";

.DownloadExtension {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-inline: var(--spacing-page);
    margin-block-start: var(--base-size-96);

    @media screen and (max-width: $breakpoint-sm) {
        margin-block-start: var(--base-size-64);
    }
}

.DownloadExtension-text.Typography--textCenter {
    margin-block-start: var(--base-size-36);

    @media screen and (max-width: $breakpoint-md) {
        margin-block-start: var(--base-size-20);
    }
}

.DownloadExtension-list {
    display: flex;
    align-items: flex-start;
    column-gap: var(--base-size-36);

    margin-block-start: var(--base-size-96);

    @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
        row-gap: var(--base-size-64);

        margin-block-start: var(--base-size-80);
    }

    @media screen and (max-width: $breakpoint-sm) {
        row-gap: var(--base-size-96);
    }
}

.DownloadExtension-item {
    flex: 1 1 auto;

    &:nth-child(2) {
        margin-block-start: var(--base-size-40);
    }

    &:nth-child(3) {
        margin-block-start: var(--base-size-80);
    }

    @media screen and (max-width: $breakpoint-md) {
        flex: 0 0 auto;

        &:nth-child(2) {
            margin-block-start: 0;
        }

        &:nth-child(3) {
            margin-block-start: 0;
        }
    }
}
