@import "@/styles/settings/breakpoint";

.Faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-inline: var(--spacing-page);
    margin-block: var(--base-size-160) var(--base-size-144);

    @media screen and (max-width: $breakpoint-md) {
        margin-block: var(--base-size-128) var(--base-size-112);
    }
}

.Faq-text.Typography--textCenter {
    margin-block-start: var(--base-size-32);

    @media screen and (max-width: $breakpoint-md) {
        margin-block-start: var(--base-size-20);
    }
}

.Faq-list {
    inline-size: 34rem;

    margin-block-start: var(--base-size-56);

    @media screen and (max-width: $breakpoint-md) {
        inline-size: 100%;

        margin-block-start: var(--base-size-64);
    }
}

.Faq-link.Link--primary {
    margin-block-start: var(--base-size-56);

    @media screen and (max-width: $breakpoint-md) {
        margin-block-start: var(--base-size-36);
    }
}
