@import "@/styles/settings/breakpoint";

.Link {
    font-size: var(--size-xs);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-zero);

    background-color: transparent;

    border-radius: var(--borderRadius-md);

    -webkit-box-shadow: var(--boxShadow-sm);
    -moz-box-shadow: var(--boxShadow-sm);
    box-shadow: var(--boxShadow-sm);

    transition-duration: 0.2s;

    &--primary {
        color: var(--color-fourth);

        &:hover {
            color: var(--color-second);
        }
    }
    &--second {
        color: var(--color-zero);

        &:hover {
            color: var(--color-second);
        }
    }
}
