:root {
    --color-zero: hsl(0, 0%, 100%);
    --color-primary: hsl(231, 69%, 60%);
    --color-second: hsl(0, 94%, 66%);

    --color-third: hsl(229, 8%, 60%);
    --color-fourth: hsl(229, 31%, 21%);
}
