:root {
    --color-zero: #fff;
    --color-zero-light: #e1e1ea;
    --color-primary: #5368df;
    --color-second: #fa5757;

    --color-third: #9194a1;
    --color-third-light: #4c526bd9;
    --color-third-dark: #595a5f;
    --color-fourth: #252b46;
    --color-fourth-light: #252b46e6;
}
