@import "@/styles/settings/breakpoint";

.Typography {
    font-size: var(--size-sm);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-third);

    &--primary {
        color: hsl(228, 3%, 36%);
    }
    &--textCenter {
        text-align: center;
    }

    &--sm {
        inline-size: 30.875rem;

        @media screen and (max-width: $breakpoint-sm) {
            inline-size: initial;
        }
    }
    &--md {
        inline-size: 33.25rem;

        @media screen and (max-width: $breakpoint-sm) {
            inline-size: initial;
        }
    }
    &--lg {
        inline-size: 33.5rem;

        @media screen and (max-width: $breakpoint-sm) {
            inline-size: initial;
        }
    }
}
